.search-header {
  display: flex;
  flex-direction: column;
}
.search-header-form {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 7%;
  margin-top: 10%;

  justify-content: center;
}
.search-header-form-input {
  width: 50%;
  margin-right: 2%;
}

.otherShopLists {
  display: flex;
  flex-direction: column;
  width: 90rem;
  height: auto;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  justify-content: center;
  margin-left: 10%;
  margin-top: 2%;
}

.search-lists {
  font-size: 2rem;
  font-weight: 400;
}
.search-comment {
  font-size: 1.3rem;
  font-weight: 400;
}
